{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json", "cypress/tsconfig.json"]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "camelcase": "off",
    "import/no-cycle": "off",
    "no-shadow": "off",
    "no-console": "off",
    "@typescript-eslint/no-floating-promise": ["error", {
      "ignoreVoid": true
    }],
    "no-void": ["error" , {
      "allowAsStatement": true
    }],
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": [2, { "props":  false}]
  },
  "overrides": [
    {
      "files": ["cypress/**/*.ts"],
      "rules": {
        "react-hooks/rules-of-hooks": "off",
        "@typescript-eslint/no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2
      }
    }
  ]
}
